extends ../layout

block content 
    h1= post? '글 수정하기': '새 글 등록하기'
    form(action= post ? "/posts/"+post.shortId :"/posts", method="post") 
        table
            tbody
                tr
                    th 제목
                    td: input(type="text", name="title" value= post && post.title)
                tr
                    th 내용
                    td: textarea(type="text", name="content") #{post && post.content}
                tr
                    th 저자
                    td: input(type="text", name="author" value= post && post.author disabled= post? true: false)
        button(type="submit") #{post? '수정하기' : '등록하기'}
                